@*@{
    var users = User.IsInRole("WS_View_Users") || User.IsInRole("WS_Edit_Users");
    var locations = User.IsInRole("WS_View_Locations") || User.IsInRole("WS_Edit_Locations");
    var admin = User.IsInRole("WSBIS_Admin");
    var enabled = users || locations || admin;
}*@
    <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Admin Hub<span class="caret"></span></a>
        <ul class="dropdown-menu" role="menu">
          
                <li>@Html.ActionLink("Users", "Index", "UserProfile")</li>
            
                <li>@Html.ActionLink("Locations", "LocationGrid", "Manage")</li>
            
            
                <li>@Html.ActionLink("Mgmt Change", "ManagementChangeForm", "Manage")</li>
                <li>@Html.ActionLink("Alerts", "AlertGrid", "Manage")</li>
                <li>@Html.ActionLink("MeasureUnits", "Index", "MeasureUnits")</li>
                <li>@Html.ActionLink("Ops Review", "OpsReviewCriteriaGrid", "Manage")</li>
            
            
        </ul>
    </li>
